* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: #191826;
  line-height: 1.7;
  background-image: url(./assets/bg-main-desktop.png), url(./assets/bg-pattern-1.svg);
  background-size: cover, auto;
  background-position: center, right -43px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1130px) {
  body {
    background-image: url(./assets/bg-main-tablet.png);
  }
}
@media screen and (max-width: 767px) {
  body {
    background-image: url(./assets/bg-main-mobile.png);
  }
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 4.4rem;
  line-height: 1;
  letter-spacing: -1px;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.social-links {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}
.social-links svg path {
  transition: fill 0.3s ease;
}
.social-links svg:hover path {
  fill: #FA7453;
}

header {
  padding: 3rem 0;
}
header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1130px) {
  header {
    padding: 3rem 1.5rem;
  }
}

.hero-section {
  margin-bottom: 325px;
}
.hero-section h2 {
  font-size: 4.4rem;
  margin-bottom: 2rem;
  max-width: 845px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-section p {
  max-width: 825px;
}
@media screen and (max-width: 1130px) {
  .hero-section {
    padding: 0 1.5rem;
  }
}

.download-section {
  margin-bottom: 115px;
}
.download-section .container {
  position: relative;
}
.download-section .background {
  width: 100%;
  height: 600px;
  background-color: #191826;
  background-image: url(./assets/bg-pattern-2.svg);
  background-position: 336px -44px;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 12px;
}
.download-section .phone-img {
  position: absolute;
  left: 102px;
  top: -215px;
}
.download-section .premium-card {
  color: #FCFAF9;
  background-color: #fa7453;
  padding: 2.4rem;
  border-radius: 12px;
  position: absolute;
  right: 95px;
  bottom: -120px;
  max-width: 446px;
}
.download-section .premium-card h2 {
  margin-bottom: 0.6rem;
}
.download-section .premium-card p {
  margin-bottom: 2.3rem;
}
.download-section .premium-card p:first-of-type {
  margin-bottom: 2rem;
}
.download-section .premium-card p span {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 0.8;
  vertical-align: middle;
  padding-right: 0.6rem;
}
.download-section .premium-card .btn-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.download-section .premium-card .btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  border-radius: 12px;
  padding: 15px 1rem 14px;
  transition: background-color 0.3s ease;
}
.download-section .premium-card .apple-btn {
  background-color: #191826;
}
.download-section .premium-card .apple-btn:hover {
  background-color: #66E2DC;
}
.download-section .premium-card .android-btn {
  background-color: #FCFAF9;
  color: #191826;
}
.download-section .premium-card .android-btn:hover {
  background-color: #FFB964;
}
@media screen and (max-width: 1130px) {
  .download-section {
    padding: 0 1.5rem;
  }
}

footer {
  font-size: 0.8rem;
  padding: 4.5rem 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .left {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
footer .container .left p {
  max-width: 366px;
}
footer .container .right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 1130px) {
  footer {
    padding: 4.5rem 1.5rem;
  }
}/*# sourceMappingURL=index.css.map */